---
kind: Secret
apiVersion: v1
metadata:
  name: manage-media
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: jellyfin
type: Opaque
data:
  username: YWRtaW5pc3RyYXRvcg==
  password: JDJhJDEyJHJZbHE3WC4wd012Y1gyWFhXV2NzWS5TWTROQXJMNTdUZUIwNTA3S1o4RXhlaE1GWkdyV1ou # bcrypt hash
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: smb-config-v0
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: smb-share
    app.kubernetes.io/part-of: jellyfin
data:
  config.yml: |
    auth:
      - user: foo
        group: foo
        uid: 1000
        gid: 1000
        password: bar
    share:
      - name: media
        comment: Media
        path: /media
        browsable: yes
        readonly: no
        guestok: no
        veto: no
        recycle: no
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: jellyfin
    app.kubernetes.io/version: "10.11.2"
spec:
  serviceName: jellyfin
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
      app.kubernetes.io/component: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/component: server
        app.kubernetes.io/part-of: jellyfin
        app.kubernetes.io/version: "10.11.2"
    spec:
      volumes:
        - name: smb-config
          configMap:
            name: smb-config-v0
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.2
          ports:
            - name: jellyfin
              containerPort: 8096
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config/
            - name: cache
              mountPath: /cache/
            - name: media
              mountPath: /media/
          resources:
            requests:
              cpu: 100m
              memory: 48Mi
            limits:
              cpu: 1000m
              memory: 1.5Gi
        - name: filebrowser
          image: filebrowser/filebrowser:v2.27.0
          env:
            - name: FB_PORT
              value: "8000"
            - name: FB_ROOT
              value: /media/
            - name: FB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: manage-media
                  key: username
            - name: FB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: manage-media
                  key: password
          ports:
            - name: file-browser
              containerPort: 8000
              protocol: TCP
        - name: samba
          image: crazymax/samba:4.18.9
          env:
            - name: SAMBA_LOG_LEVEL
              value: "0"
            - name: TZ
              value: America/Los_Angeles
          ports:
            - name: mscs-tcp
              containerPort: 445
              protocol: TCP
            - name: mscs-udp
              containerPort: 445
              protocol: UDP
            - name: ws-disc-tcp
              containerPort: 3702
              protocol: TCP
            - name: ws-disc-udp
              containerPort: 3702
              protocol: UDP
            - name: llmnr-tcp
              containerPort: 5355
              protocol: TCP
            - name: llmnr-udp
              containerPort: 5355
              protocol: UDP
          volumeMounts:
            - name: media
              mountPath: /media/
            - name: smb-config
              mountPath: /data/
          resources:
            requests:
              cpu: 100m
              memory: 48Mi
            limits:
              cpu: 200m
              memory: 500Gi
  volumeClaimTemplates:
    - metadata:
        name: config
        namespace: jellyfin
        labels:
          app.kubernetes.io/name: jellyfin
          app.kubernetes.io/component: server
          app.kubernetes.io/part-of: jellyfin
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 200Mi
    - metadata:
        name: cache
        namespace: jellyfin
        labels:
          app.kubernetes.io/name: jellyfin
          app.kubernetes.io/component: server
          app.kubernetes.io/part-of: jellyfin
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 2Gi
    - metadata:
        name: media
        namespace: jellyfin
        labels:
          app.kubernetes.io/name: jellyfin
          app.kubernetes.io/component: server
          app.kubernetes.io/part-of: jellyfin
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 1Ti
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
  annotations:
    # Expose to tailscale
    tailscale.com/expose: "true"
    tailscale.com/hostname: "media"
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: jellyfin
spec:
  ports:
    - name: jellyfin
      port: 80
      protocol: TCP
      targetPort: jellyfin
    - name: file-browser
      protocol: TCP
      port: 8000
      targetPort: file-browser
    - name: mscs-tcp
      port: 445
      protocol: TCP
      targetPort: mscs-tcp
    - name: mscs-udp
      port: 445
      protocol: UDP
      targetPort: mscs-udp
    - name: ws-disc-tcp
      port: 3702
      protocol: TCP
      targetPort: ws-disc-tcp
    - name: ws-disc-udp
      port: 3702
      protocol: UDP
      targetPort: ws-disc-udp
    - name: llmnr-tcp
      port: 5355
      protocol: TCP
      targetPort: llmnr-tcp
    - name: llmnr-udp
      port: 5355
      protocol: UDP
      targetPort: llmnr-udp

  selector:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
---
