---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: jellyfin
    app.kubernetes.io/version: "10.11.4"
spec:
  serviceName: jellyfin
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
      app.kubernetes.io/component: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/component: server
        app.kubernetes.io/part-of: jellyfin
        app.kubernetes.io/version: "10.11.4"
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.4
          ports:  
            - name: jellyfin
              containerPort: 8096
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config/
            - name: cache
              mountPath: /cache/
            - name: media
              mountPath: /media/
          resources:
            requests:
              cpu: 100m
              memory: 48Mi
            limits:
              cpu: 1000m
              memory: 1.5Gi
      volumes:
        - name: media
          nfs:
            path: /var/nfs/shared/Media
            server: 192.168.4.4
  volumeClaimTemplates:
    - metadata:
        name: config
        namespace: jellyfin
        labels:
          app.kubernetes.io/name: jellyfin
          app.kubernetes.io/component: server
          app.kubernetes.io/part-of: jellyfin
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 120Gi
    - metadata:
        name: cache
        namespace: jellyfin
        labels:
          app.kubernetes.io/name: jellyfin
          app.kubernetes.io/component: server
          app.kubernetes.io/part-of: jellyfin
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 200Gi
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
  annotations:
    # Expose to tailscale
    tailscale.com/expose: "true"
    tailscale.com/hostname: "media"
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: jellyfin
spec:
  ports:
    - name: jellyfin
      port: 80
      protocol: TCP
      targetPort: jellyfin
  selector:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/component: server
---
